####################################
# Visual Studio / IDE
####################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################
# Build results
####################################
bin/
obj/
[Bb]uild/
[Bb]uilds/

####################################
# .NET Core
####################################
project.lock.json
project.fragment.lock.json
artifacts/

####################################
# NuGet
####################################
*.nupkg

####################################
# Logs
####################################
*.log

####################################
# OS generated
####################################
.DS_Store
Thumbs.db

####################################
# Environment files
####################################
.env
.env.*
